@design: design;

.@{design} {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_header {
    height: 42px;
    line-height: 42px;
    background-color: dimgray;
  }

  &_footer {
    padding: initial;
  }

  &_left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: lightgrey;

    [class="ant-tabs ant-tabs-bottom ant-tabs-line"],
    [class="ant-tabs-content ant-tabs-content-animated ant-tabs-bottom-content"] {
      height: 100%;
    }

    [class="ant-tabs-nav ant-tabs-nav-animated"] {
      width: 100%;

      > div {
        display: flex;
      }
    }

    [role="tab"] {
      flex: 1;
      margin: initial;
      text-align: center;
    }

  }

  &_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: lightgrey;

    [class="ant-tabs-content ant-tabs-content-animated ant-tabs-bottom-content"] {
      flex: 1;
    }

    [class="ant-tabs-tabpane ant-tabs-tabpane-active"] {
      height: 100%;
      overflow-y: auto;
    }

    [class="ant-collapse-item"] {
      background-color: lightgrey;
    }

    [class="ant-tabs-nav ant-tabs-nav-animated"] {
      width: 100%;

      > div {
        display: flex;
      }
    }

    [class="ant-tabs-ink-bar ant-tabs-ink-bar-animated"] {
      display: none !important;
    }

    [role="tab"] {
      flex: 1;
      margin: initial;
      text-align: center;
    }
  }

  &_content_mode {
    position: absolute;
    display: inline-block;
    margin: -40px 10px 0px;
  }

  &_content_view_javascript {
    position: absolute;
    display: inline-block;
    margin: -40px 150px 0px;
  }

  &_content_view_json {
    position: absolute;
    display: inline-block;
    margin: -40px 250px 0px;
  }

  &_content_monaco {
    margin: 50px auto auto;
    overflow: hidden;
  }

  &_content_mobile {
    border: 40px solid #DDD;
    border-width: 55px 7px;
    border-radius: 40px;
    margin: 50px auto;
    overflow: hidden;
    transition: all 0.5s ease;

    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    box-shadow: 0px 3px 0 #BBB, 0px 4px 0 #BBB, 0px 5px 0 #BBB, 0px 7px 0 #BBB, 0px 10px 20px #666;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
    }

  }
}
