@design: design;

.@{design} {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_header {
    height: 48px;
    padding: 0 20px;
    line-height: 48px;
    background-color: #5c5c5c;

    &_toolbar {
      > button {
        margin-right: 15px;
      }

      &_mode {
        position: absolute;
        left: 50%;
        line-height: inherit;
        transform: translateX(-50%);
      }

      &_right {
        position: absolute;
        right: 2%;

        > button {
          margin-right: 15px;
        }

        > span {
          margin-left: 15px;
        }

        > button:focus {
          color: rgba(0, 0, 0, 0.65);
          border-color: white;
        }
      }
    }
  }

  &_footer {
    padding: initial;
  }

  &_left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: lightgrey;

    [class="ant-tabs-content ant-tabs-content-animated ant-tabs-bottom-content"] {
      flex: 1;
    }

    [class="ant-tabs-tabpane ant-tabs-tabpane-active"] {
      height: 100%;
      overflow-y: auto;
    }

    [class="ant-tabs-nav ant-tabs-nav-animated"] {
      width: 100%;

      > div {
        display: flex;
      }
    }

    [class="ant-tabs-ink-bar ant-tabs-ink-bar-animated"] {
      display: none !important;
    }

    [role="tab"] {
      flex: 1;
      margin: initial;
      text-align: center;
    }

    [class^="ant-tree-switcher"] {
      background-color: lightgrey !important;
    }

    [class="ant-tree-treenode-switcher-open"] {
      ::before {
        border-left-color: #888 !important;
      }
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: lightgrey;

    //[class="ant-tabs-content ant-tabs-content-animated ant-tabs-bottom-content"] {
    //  flex: 1;
    //}
    //
    //[class="ant-tabs-tabpane ant-tabs-tabpane-active"] {
    //  position: relative;
    //}
    //
    //[class="ant-tabs-nav ant-tabs-nav-animated"] {
    //  width: 100%;
    //
    //  > div {
    //    display: flex;
    //  }
    //}
    //
    //[class="ant-tabs-ink-bar ant-tabs-ink-bar-animated"] {
    //  display: none !important;
    //}
    //
    //[role="tab"] {
    //  flex: 1;
    //  margin: initial;
    //  text-align: center;
    //}

    //[class="ant-collapse ant-collapse-icon-position-left"] {
    //  position: absolute;
    //  width: 100%;
    //  height: 100%;
    //  overflow: auto;
    //}
    //
    //[class="ant-collapse-item"] {
    //  background-color: lightgrey;
    //}

    [class="ant-form ant-form-horizontal"] {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }

  &_content {
    &_mode {
      position: absolute;
      display: inline-block;
      margin: -40px 10px 0;
    }

    &_view_javascript {
      position: absolute;
      display: inline-block;
      margin: -40px 150px 0;
    }

    &_view_json {
      position: absolute;
      display: inline-block;
      margin: -40px 250px 0;
    }

    &_monaco {
      width: 100%;
      overflow: hidden;
    }

    &_mobile {
      margin: 50px auto;
      overflow: hidden;
      border: 40px solid #ddd;
      border-width: 55px 7px;
      border-radius: 40px;
      box-shadow: 0 3px 0 #bbb, 0 4px 0 #bbb, 0 5px 0 #bbb, 0 7px 0 #bbb, 0 10px 20px #666;
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transition: all 0.5s ease;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      iframe {
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }
}
